html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			h3 ทะเบียน
			hr
			p
				a.btn.btn-primary(href='/add') Add New

			table.table.table-bordered
				tr
					th.text-center(width='5%') ven_code
					th.text-left(width='35%') pre_name
					th.text-left(width='50%') ven_name
					th.text-left(width='5%') Status
					th.text-left(width='5%') Edit
				for ps in posts
					tr
						td=ps.ven_code
						td=ps.pre_name
						td=ps.ven_name
						td=ps.status
						td
							a.btn.btn-warning(href='edit/' + ps.id) Edit
